li {
    list-style-type: none;
    justify-content: space-between;    
    align-items: center;
    display: flex;
    width: 100%;
}
.close {
    background-color: #fefae0;
}
.close:hover {
    background-color: #dda15e;
}